.login-container {
  background-color: #fff;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  width: 350px;
  text-align: center;
  margin: 150px auto;
  max-width: 90%;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  text-align: left;
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #FF7043;
  box-shadow: 0 0 5px rgba(255,102,0,0.3);
}

button {
  width: 100%;
  padding: 10px;
  background-color: #FF7043;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

#forgot {
  background-color: #FF8A65;
  padding: 15px;
  text-align: center;
}

button:hover {
  background-color: #FF8A65;
  color: white;
  box-shadow: 0 8px 16px rgba(255,102,0,0.3);
}

.forgot-link {
  text-align: right;
  margin-top: 10px;
  font-size: 14px;
}

.forgot-link a {
  color: #FF7043;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.forgot-link a:hover {
  color: #FF8A65;
  text-decoration: underline;
}

.auth-links {
  text-align: center;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.auth-links span {
  color: #666;
  margin-right: 5px;
}

.auth-links a {
  color: #FF7043;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.auth-links a:hover {
  color: #FF8A65;
  text-decoration: underline;
}
